.profile {
	box-shadow: 0 0 5px black;
	margin-bottom: 2rem;
}

.profile .background-picture {
	position: relative;
	width: 100%;
	height: 10rem;
	z-index: -1;
}

.profile .profile-bio {
	padding: 2rem;
}
.profile .profile-heading {
	display: flex;
	gap: 1rem;
	padding: 0 2rem;
}

.profile .profile-heading * {
}
.profile .profile-heading .profile-picture {
	width: 6rem;
	margin-top: -1rem;
	outline: 5px solid var(--color-background);
}
.profile .profile-heading .names h1 {
	margin: 0;
	margin-top: 0.5rem;
	font-size: 1.25rem;
}
.profile .profile-heading .follow-button-container {
	margin-left: auto;
}
