.popup-container {
	position: fixed;
	inset: 0;
	backdrop-filter: blur(2px);
}
.popup-window {
	background: var(--color-background);
	outline: 1px solid grey;
	padding: 2rem;
	position: relative;
	margin-inline: auto;
	width: fit-content;
	margin-top: 20svh;
	border-radius: calc(var(--border-radius) * 2);
}

.popup-window .button-group {
	margin-top: 2rem;
}
