.tabs-container {
	display: flex;
  gap: 1rem;
}
button.tabs-button {
	flex-basis: 100%;
	border-radius: 0;
}
button.tabs-button:focus,
button.tabs-button:hover,
button.tabs-button {
	outline: none;
	border: none;
	background: transparent;
  border-bottom: 5px solid transparent;
}
button.tabs-button:focus,
button.tabs-button:hover,
button.tabs-button.selected {
	background: transparent;
  border-bottom: 5px solid var(--munsell);
}
