.tabs-container {
	display: flex;
  gap: 1rem;
}
.tabs-button {
	flex-basis: 100%;
	border-radius: 0;
}
.tabs-button:focus,
.tabs-button:hover,
.tabs-button {
	outline: none;
	border: none;
	background: transparent;
  border-bottom: 5px solid transparent;
}
.tabs-button:focus,
.tabs-button:hover,
.tabs-button.selected {
  border-bottom: 5px solid var(--munsell);
}
