html {
	--davys-gray: #5a5766;
  --charcoal: #2f4858;
	--munsell: #1b9aaa;
	--quartz: #9d8ca1;
	--powder: #f0f4ef;
	--white: #ffffff;

	--color-background-secondary: var(--charcoal);
  --color-background: var(--charcoal);
  --color-text: var(--white);
	--color-border: var(--quartz);

  --border-radius: 5px;

	background: var(--color-background);
  color: var(--color-text);

	font-family: sans-serif;
}

a:link, a:visited { color: var(--munsell); }
a:hover, a:active { color: var(--powder); }

a.post-text {
	color: inherit;
	text-decoration: none;
	display: block;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
}

header,
footer {
	padding: 1rem;
	width: 100%;
	box-sizing: border-box;
}

header {
	height: fit-content;
	top: 0;
  position: sticky;
	height: 100svh;
}

header, footer {
	background: var(--color-background-secondary);
}

.logo {
	margin-left: auto;
	display: block;
	width: fit-content;
  font-weight: 800;
	font-size: 2rem;
}

nav ul a,
.logo {
	padding: 0.5rem 1rem;
}

nav ul {
  list-style: none;
	padding: 0;
}

nav ul a {
  display: flex;
	flex-direction: row-reverse;
	gap: 1rem;
	text-decoration: none;
}

main {
	--max-width: 70svw;
	min-width: min(50rem, var(--max-width));
  max-width: var(--max-width);
	box-shadow: 0 0 10px black inset;
}

main:has(.timeline-placeholder) {
	overflow: clip;
	max-height: 100svh;
}
main .timeline-placeholder {
	background: pink;
	height: 0;
	position: relative;
	bottom: 0;
}
main .failed-load {
	margin: 2rem auto;
	width: fit-content;
}

@keyframes loading-shine {
	from { background-color: grey; }
	to { background-color: lightgrey; }
}

.post-text.placeholder .row,
.profile-picture.placeholder,
.names .placeholder {
  animation-name: loading-shine;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
.post-text.placeholder .row,
.names .placeholder {
	height: 1rem;
	border-radius: var(--border-radius);
}
.post-text.placeholder .row:not(:first-child) {
	margin-top: 1rem;
}
.post-text.placeholder .row:last-child { width: 50%; }
.names .user-name.placeholder { margin-top: 1rem; width: 10rem; }
.names .display-name.placeholder { width: 20rem; }

article.post + article.post {
	border-top: 1px solid var(--munsell);
}
article.post {
	padding: 1rem 2rem;
}
article.post .quote {
	outline: 1px solid grey;
	border-radius: calc(var(--border-radius) * 2);
}
.profile-picture.placeholder,
img.profile-picture {
  width: 4rem;
	aspect-ratio: 1 / 1;
	border-radius: 50%;
}
.post-heading {
  display: flex;
	gap: 1rem;
}
.post-heading .names {
  display: flex;
	flex-direction: column;
}

article.post .post-text { margin: 1rem 0; }

article.post:has(a.post-text:hover),
article.post:has(a.post-text:focus) {
	background-color: rgba(255, 255, 255, 0.1);
}

article.post:has(article.post a.post-text:hover),
article.post:has(article.post a.post-text:focus) {
	background-color: transparent;
}

article.post button.delete-post,
article.post .footing button {
	background: transparent;
	margin: 0;
}

article.post button.delete-post { margin-left: auto;}

article.post .post-images {
  display: grid;
  gap: 1rem;
  max-width: 100%;
  aspect-ratio: 1 / 1;
}
article.post .post-images.two-count {
  grid-template-columns: 1fr 1fr;
}
article.post .post-images.three-count {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
article.post .post-images.three-count img:first-child {
  grid-row-end: span 2;
}
article.post .post-images.four-count {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

article.post .post-images button.image-wrapper {
  box-sizing: border-box;
  overflow: hidden;
  border-radius: var(--border-radius);
  border: none;
  outline: none;
  padding: 0;
}
article.post .post-images button.image-wrapper:focus,
article.post .post-images button.image-wrapper:hover {
  filter: brightness(120%);
}
article.post .post-images img {
  object-fit: cover;
  min-height: 100%;
  min-width: 100%;
}
article.post .post-images .popup-container img {
  max-width: calc(100svw - 10rem);
  max-height: calc(100svh - 10rem);
}

article.post .time-created {
	font-size: 0.9rem;
	font-style: italic;
}

article.post .footing,
article.post .footing button {
  display: flex;
	align-items: center;
}

article.post .footing button.likes.liked { color: pink; }

article.post .footing {
	gap: 1rem;
	justify-content: space-between;
}
article.post .footing button { gap: 0.5rem; }

form {
	display: flex;
	flex-direction: column;
}

.button-group {
	margin-left: auto;
	display: flex;
	gap: 1rem;
	width: fit-content;
}
.button-group button:not(:last-child) {
	box-sizing: border-box;
  background: transparent;
	outline: 5px solid var(--munsell);
	outline-offset: -5px;
}
.button-group button:not(:disabled):not(:last-child):hover,
.button-group button:not(disabled):not(:last-child):focus {
	outline: 7px solid var(--munsell);
}
button {
  padding: 1rem;
  margin: 1rem 0;
	background-color: var(--munsell);
	border-radius: var(--border-radius);
	border: none;
	font-weight: 600;
	color: var(--powder);
  outline: 0px solid var(--munsell);
	transition-properties: color background-color outline-width;
	transition-duration: 0.2s;
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: 1rem;
}
button:not(:disabled):hover,
button:not(:disabled):focus {
	outline-width: 2px;
	background-color: var(--powder);
	color: var(--munsell);
	cursor: pointer;
}
button:disabled:hover,
button:disabled:focus { cursor: not-allowed; }

button[type=submit] {
	margin-left: auto;
}

.box {
	margin: 2rem auto;
	padding: 2rem;
	border-radius: calc(var(--border-radius) * 2);
	box-shadow: 0 0 10px black;
}

.center {
  display: block;
  width: fit-content;
  margin: auto;
}
.vertical-center {
  margin-top: 50%;
}

.box.signup,
.box.login {
  margin-inline: 2rem;
}
