html {
  --charcoal: #2f4858;
	--munsell: #1b9aaa;
	--quartz: #9d8ca1;
	--powder: #f0f4ef;
	--white: #ffffff;

  --color-background: var(--charcoal);
  --color-text: var(--white);
	--color-border: var(--quartz);

  --border-radius: 5px;

	background: var(--color-background);
  color: var(--color-text);

	font-family: sans-serif;
}

a:link, a:visited { color: var(--munsell); }
a:hover, a:active { color: var(--powder); }

body {
  display: flex;
  justify-content: center;
  margin: 0;
}

header,
main,
footer {
	padding: 1rem;
}

header {
	height: fit-content;
	top: 0;
  position: sticky;
}

.logo {
  font-weight: 800;
	font-size: 2rem;
}

nav ul {
  list-style: none;
	padding: 0;
}

nav ul a {
  display: flex;
	gap: 1rem;
	text-decoration: none;
	padding: 0.5rem 1rem;
}

main {
	flex-grow: 1;
  max-width: 50rem;
  border: 1px solid var(--color-border);
}

article.post {
	padding: 1rem;
  border-top: 1px solid var(--color-border);
}
img.profile-picture {
  width: 4rem;
	aspect-ratio: 1 / 1;
	border-radius: 50%;
}
.post-heading {
  display: flex;
	gap: 1rem;
  margin-bottom: 2rem;
}
.post-heading .names {
  display: flex;
	flex-direction: column;
}

article.post .footing,
article.post .footing span {
  display: flex;
}
article.post .footing { gap: 1rem; }
article.post .footing span { gap: 0.5rem; }

form {
	display: flex;
	flex-direction: column;
}

.button-group {
	margin-left: auto;
	display: flex;
	gap: 1rem;
}
.button-group button:not(:last-child) {
	box-sizing: border-box;
  background: transparent;
	outline: 5px solid var(--munsell);
	outline-offset: -5px;
}
.button-group button:not(:last-child):hover,
.button-group button:not(:last-child):focus {
	outline: 7px solid var(--munsell);
}
button {
  padding: 1rem;
  margin: 1rem 0;
	background-color: var(--munsell);
	border-radius: var(--border-radius);
	border: none;
	font-weight: 600;
	color: var(--powder);
  outline: 0px solid var(--munsell);
	transition-properties: color background-color outline-width;
	transition-duration: 0.2s;
}
button:hover,
button:focus {
	outline-width: 2px;
	background-color: var(--powder);
	color: var(--munsell);
	cursor: pointer;
}

button[type=submit] {
	margin-left: auto;
}
